<div class="not-relative div-big center-text">
  div

  <div class="top-left div-small center-text">
    top-left
  </div>

  <div class="middle-right div-small center-text">
    middle-right
  </div>

  <div class="bottom-left div-small center-text">
    bottom-left
  </div>

</div>

<br>

<div class="relative div-big center-text">
  div-relative

  <div class="top-left div-small center-text">
    top-left
  </div>

  <div class="middle-right div-small center-text">
    middle-right
  </div>

  <div class="bottom-left div-small center-text">
    bottom-left
  </div>

</div>